{% extends "base.html" %}
{% block heading %}{{ post.title }} {% endblock heading %}
{% block subheading %} {% endblock subheading %}
{% block meta %}
Posted by
<a href="#">{{ post.author }}</a>
on {{ post.created|date:"D d M Y" }} {{ post.created|time:"H:i" }}
{% endblock meta %}
{% block content %}
<!-- Post Content -->
<article>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			{{ post.body|linebreaks }}
			<h2 class="section-heading">
			{% with comments.count as total_comments %}
			{{ total_comments }} comment {{ total_comments|pluralize }}
			</h2>
			{% endwith %}
			<!--include the list of comments-->
			{% for comment in comments %}
				<p >{{ comment.body|linebreaks }}

				</p><span class="text-muted">{{ comment.created }} by {{ comment.name }}</span>

			{% empty %}
			<p>There are no comments yet</p>
		{% endfor %}
		<h2>Add a new comment</h2>
		{% if messages %}
			<div class="row">
				<div class="col-xs-12">
					{% for message in messages %}
						<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		<form action="." method="post">
			{{ comment_form.as_p }}
			{% csrf_token %}
			<p><input type="submit" value="Add comment"></p>
		</form>
	</div>
</div>
</div>
</article>
{% endblock %}