{% extends "base.html" %}


    {% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
          <div class="post-preview">
            <a href="{% url 'blog:post_detail' pk=post.pk %}">
              <h2 class="post-title">
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                {{ post.body|truncatewords:30|linebreaks }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.created|date:"D d M Y" }} {{ post.created|time:"H:i" }}</p>
          </div>
          <hr>

        {% endfor %}

        <!-- Pager -->
<!--         <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>

    {% endblock %}

